body {
    background-color: #2C2F33;
    color: #e5e5e5;
}
* {
    color: #e5e5e5;
}

a{
    color: #1091c4;
}

input {
    color: black;
}
textarea {
    color: black;
}
option {
    color: black;
}

.listing-img-container {
    max-height: 300px; 
    max-width:400px; 
    min-width: 400px; 
    min-height: 300px;
}
.listing-img {
    height: 100%; 
    width: 100%; 
    object-fit: scale-down;
}

.login-error {
    color: rgb(165, 2, 2);
    font-weight: bold;
}

.listing-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}
