body {
    padding: 10px;
    background-color: #2C2F33;
    color: #e5e5e5;
}
* {
    color: #e5e5e5;
}

a{
    color: #1091c4;
}

input {
    color: black;
}
textarea {
    color: black;
}
option {
    color: black;
}
