{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}E-commerce Website{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark" style="padding-bottom: 15px; padding-top: 15px; margin-bottom: 20px;">
            <a class="navbar-brand mr-0 mr-md-2 border rounded" href="{% url 'index' %}"><img style="margin-left: 10px; margin-right: 10px;" alt="Logo Placeholder"></a>
          
            <div class="navbar-nav-scroll">
              <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'createListing' %}">Create New Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userListings' %}">My Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                </li>
                {% endif %}
              </ul>
            </div>
          
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <span class="navbar-text">
                    {% if user.is_authenticated %}
                        Signed in as <a href="{% url 'userListings' %}">{{ user.username }}</a>
                    {% else %}
                        Not signed in.
                    {% endif %}
                </span>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>             
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>
